.Ingreso {
  display: flex;
}

.edFotoIngreso {
  min-height: 100vh;
  width: 50%;
  background-image: url("https://cdn.discordapp.com/attachments/830354293822324736/1052361908671483944/Sin_titulo-1.png");
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shoppyLogoIngreso {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 120px;
}

.edFormIngreso {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  align-content: center;
}

.edFormIngreso h2 {
  color: #333333;
  font-weight: 600;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

.edFormIngreso form {
  display: flex;
  flex-direction: column;
}

.edFormIngreso form label {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.botonesForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.botonesForm p {
  margin: 0;
  cursor: pointer;
}

.botonesForm button {
  background-color: #ef837b;
  color: white;
  padding: 3px 25px;
}

.edVolverAInicio {
  width: 50px;
  height: 50px;
  background-color: #ef837b;
  border-radius: 360px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edVolverAInicio p {
  color: white;
  margin: 0;
  font-size: 10px;
}

@media (max-width: 1030px) {
  .edFotoIngreso {
    display: none;
  }

  .edFormIngreso {
    background-image: url("https://cdn.discordapp.com/attachments/830354293822324736/1052361908671483944/Sin_titulo-1.png");
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: color;
    background-size: cover;
    background-position: center;

    overflow: hidden;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    align-content: center;
    width: 100%;
    height: 100vh;
  }

  .edFormIngreso label {
    color: #f3f3f3;
  }

  .botonesForm p {
    color: #f3f3f3;
  }

  .edFormIngreso h2 {
    color: #f3f3f3;
  }

  .edFormIngreso form label {
    width: 340px;
  }
}
